html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    background-color: rgb(32, 32, 32);
}

.leftbar {
    flex: 25%;
    padding: 40px;
    box-sizing: border-box;
}

.right {
  flex: 75%;
  padding: 50px;
  display: flex;
  justify-content: center;   
  box-sizing: border-box;
  overflow-y: auto;
}

.feed {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  width: 200%;
  box-sizing: border-box; 
}

.feed img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.menu {
  position: relative;
  
}

.search{
    position: fixed
;
    left: 0%;
    width:fit-content
}


